
body{   
 background-image: url(/Assets/Images/best-anime.png) ;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

h2{
    color: #313756 !important;
    font-size: 3rem !important;
}

.soustitre {
    display: flex;
    justify-content: flex-end;
    background: rgba(196, 193, 193, 0.619);
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
    
}
 
section{
    background-color: rgba(252, 248, 248, 0.636);
    display: flex;
    flex-direction: column;
    text-align: center;    
    font-size: 2rem;
}
 
.col{
    
    column-width: 600px;
    align-items: center;
 
    
}

a{
   color: #313756 !important;
}

 
 



    
  

 
 





