@import url(https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Press+Start+2P&display=swap%27);

body{
    font-family: 'Courgette', cursive;
    color: #000000; 
    text-align: center;
    
 background-image: url(../Assets/Image/Affiche\ anime\ 3.jpg) ;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 
}
  

.soustitre {
    display: flex;
    justify-content: flex-end;
    background: rgba(196, 193, 193, 0.619);
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    color: #000000;
}

.soustitre p {
height: 60%;
font-size: 25px;
}
 
section{
    background-color: rgba(252, 248, 248, 0.636);
    display: flex;
    flex-direction: column;
    text-align: center;    
}
 
.col{
    
    column-width: 600px;
    align-items: center;
    color: #000000;
    
}

 
 



    
  

 
 





