@import url(https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Press+Start+2P&display=swap%27);

body{
    font-family: 'Courgette', cursive;
    color: #000000; 
    text-align: center;

 background-image: url(../Assets/Image/Pokemon.jpg) ;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 
}

section{
    background-color: rgba(255, 255, 255, 0.511);
   
    
}

.bouton{
    display: flex;
    justify-content: flex-end;
}

.bouton2{
    display: flex;
    justify-content: flex-start;
}


