
body{
    text-align: center;
    background-image: url(../Assets/Images/Sao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 
}

section{
    background-color: rgba(255, 255, 255, 0.451);
    
    
}

.bouton{
    display: flex;
    justify-content:space-between;
    margin: 1rem;
}

.bouton a{
    color:#EBE9E4;
    font-size: 24px;
    text-decoration: underline;
}
.bouton a:hover{
    color: #994C4C;
}

.div2{
    padding-right: 0cm;
    padding-bottom: 3cm;
}
.div2 img{
    width : 300px;
    height : 400px;  
}



.div3{
    padding-right: 0cm;
    padding-bottom: 2cm;
    
}

.div4{  
        padding-right: 2cm;
        padding-bottom: 2cm;
}

.div6 img{
    width : 300px;
    height : 400px;  
}


