
section img {
    height: 300px;
    padding: 1rem;
}
p {
    text-indent: 3rem;
    font-size: 20px;
    margin-bottom: 2rem;
    
}

.retour{
    display: flex;
    justify-content: center;
    margin-top: 10rem;

}

.float-right{
 float: right;
}
.float-left{
    float: left;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.block{
    display: block;
}

.ml{
    margin-left: 2rem;
}
.my{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#porco{
    float: left;
    margin-left: -15rem;
}
.space-around{
    display: flex;
    justify-content: space-around;
}

h2{
    padding-bottom: 3rem;
}

.ellipse{
    margin-top: -5rem;
}