@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Press+Start+2P&display=swap');


*{
    font-family: 'Courgette', cursive;
}

html, body{
    color: #313756;
    padding: 0;
    margin: 0;
}

h2 {
    display: flex;
    justify-content: center;
}


/*__________HEADER__________*/
header img{
    width: 7rem;
}

#logo{
    border-radius: 30%;
    border: 1px solid #EBE9E4;
}

.d-flex{
    background-color: #EFEAEA;
    position: fixed;
    width: 100%;
}

.ms-6{
    margin-left: 30rem;
}
.ms-7{
    margin-left: 30rem;
}

.bg-ohayo-dark{
    background-color: #994C4C;
    color: #EFEAEA;
}
.bg-ohayo-light{
    background-color: #CDB1A8;
    color: #EFEAEA !important;
}

.dropdown-menu{
    inset: 21px auto auto 20px !important; 
}
.dropdown-menu.show{
    border: 1px solid #EBE9E4;
    animation: up-to-down 0.8s ease-in forwards;
    background-color: #EFEAEA;
    box-shadow: 2px 4px 4px 2px #00000040;
}

.dropdown-item{
    color: #EFEAEA;
    border-radius: 0.35rem;
    font-size: 20px;
    transition:0.5s all;
}
.dropdown-item:hover{
    background-color: #994C4C;
    color: #EFEAEA;
    
}
.dropdown-item:focus{
    background-color: #994C4C;
    color: #EFEAEA;
}

.dropdown-item a:visited{
    color: #313756;
}
.active-in{
    background-color: #9CA3AE;
}

[type=button]{
    border: none;
    position: absolute;
    height: 55px;
    width: 210px;
    margin-top: -2rem;
    font-size: 30px;
    padding-right: 2rem;
}
[type=button]::before, [type=button]::after{
    position: absolute;
    margin: 10px 10px 10px 10px;
    margin: 20px 0 0 4px;
}

#searchbar{
    color: #313756;
    border: 1px solid #CDB1A8;
position: absolute;
border-radius: 1rem;
padding: 7px 7px 7px 17px;
margin: 0 0 0 -24rem;
}

.iconsearch{
    position: absolute;
    margin: 0 0 0 -13rem;
    color: #9ca3ae77;
    font-size: 30px;
    
}

.neko{
    position: absolute;
    margin: 0 0 0 124rem;
}
.neko:hover{
    height: 100%;
    color: #994C4C;
    background-color: #EBE9E4;
    box-shadow: #994C4C 0px -2px 5px 0px inset;
    border-radius: 50%;
}




@keyframes up-to-down{
    0%{ 
      transform: translatey(-100%);
      opacity: 0;
    }
    100%{ 
      transform: translatey(0%);
      opacity: 1;
    }
  }

/*__________________________*/



/*__________FOOTER__________*/
#footer{
    background-color: #EFEAEA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    position: fixed ;
    bottom: 0;
    width: 100%;
    font-size: 26px;
    border: 1px solid #3137562c;

}
#footer a:target{
    color: #9CA3AE;
}

#profil, #contact, #cgu{
    text-decoration: none;
}
#profil:hover, #contact:hover, #cgu:hover{
    font-size: 27px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.1s ease-in-out;
    color: #994C4C !important;
}
#profil:visited, #contact:visited, #cgu:visited{
    color: #313756;
}
/*__________________________*/



/*__________TITRE__________*/
.titre{
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 1em ;
}
h1::after{
    content: "";
    width: 0%;
    height: 2px;
    border-radius: 50%;
    background: #9CA3AE;
    transition: 0.7s ease-in-out;
}
h1:hover::after{
    content: "おはよう";
    text-align: center;
    width: 15%;
}
/*__________________________*/


/*__________LIENS__________*/
a{
    color: #313756;
    text-decoration: none; 
}
a:hover{
    color: #994C4C;
}
/* a:visited{ */
    /* color: #994C4C; */
/* } */
/*__________________________*/


/*___ESPACE SOUS LE TITRE___*/
.espace{
    padding: 2%;
}
.espacex2{
    padding: 5%;
}

/*__________FOND__________*/
.ellipse {
    position: fixed;
    margin: -2rem 0 0 51rem;
    width: 500px;
    height: 500px;
    background-color: #FE1B00;
    border-radius: 50%;
    opacity: 0.2;
    z-index: -1;
}

/*______Scrollbar CSS______*/

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 20px;
  }

  *::-webkit-scrollbar-track {
    background: #ebe9e4;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #cdb1a7;
    border-radius: 10px;
    border: 2px solid #ebe9e4;
  }


  
  
